body {
  font-family: Lato;
  /*background-image: url('https://www.knockknockcards.com/images/IMG_0352_edit2.jpg');*/
  background-position: fixed;
  background-size: contain;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  font-size: .75rem;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p {
  font-size: .95em
}

input, .input {
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  transition: .5s ease-in-out;
  color: #444;
  position: relative;
}

@media (max-width: 764px) {
  .product-info ul li {
    /*flex-direction: column !important;*/
  }
  .product-info__image {
    display: none;
  }
  .input-row {
    width: 100%;
    flex-direction: column !important;
    margin: 0 !important
  }
  .input-row input, .input-row .input {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px !important;
    font-size: 1em;
    margin-bottom: 20px;
  }
  .input-row.card-info .stripe-expiration, .input-row.card-info .stripe-ccv {
    max-width: 100% !important;
    float: left !important;
  }
}

input:focus, .input:focus {
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.18);
  outline: none
}

input[type="submit"] {
  font-size: 1em;
  font-weight: 500;
  background: #000;
  letter-spacing: 0.025em;
  color: #FFF;
  border: 0px;
  border-radius: 3px;
  padding: 1em;
}

button {
  font-size: 1em;
  font-weight: 900;
  letter-spacing: .075em;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
}

.modalOpen {
  display: block;
  z-index: 100;
  overflow-y: scroll;
}

.modalClosed {
  display: none;
}

.off {
  display: none;
}

.on {
  display: block;
}

.input {
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px;
  width: calc(100% - 21px);
  min-width: 100px;
}

.error {
  color: red;
}

.success {
  color: green;
  font-size: 1.5em;
}

.processing {
  font-style: italic;
}

#orderForm .input {
  max-width: calc(100% - 10px);
  display: block;
  margin-bottom: 10px;
}

.horizontalInputs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.horizontalInputs input {
  flex-grow: 1;
}

.horizontalInputs .stripeElement {
  min-width: 50%;
  background: green;
}



.hero__wrapper {
  height: 100vh;
}

.mobile-images {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile-images {
    display: block;
  }
  .mobile-images ul {
    list-style: none;
  }
  .mobile-images ul li {
    margin-top: 30px;
  }
  .modal-control {
    position: relative !important;
  }
  .modal-control > div {
    padding: 30px !important;
    margin: 30px 0 0 !important;
    border-radius: 0px !important
  }
  .modal-control > div:before {
    content: 'Back';
    display: block;
    position: absolute;
    top: 7px;
    font-weight: 800;
    font-family: Helvetica, Arial, sans-serif;
    color: #666
  }
  .hero {
    box-sizing: border-box;
    width: 100vw;
    padding: 0;
    border: 0;
  }
  .hero__wrapper {
    justify-content: flex-start;
  }
  .hero__item {
    min-width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    top: 50% !important;
    transform: translateY(-50%); 
    left: 0px !important;
    max-height: 100% !important;
    box-sizing: border-box;
    margin: 0;
    justify-content: flex-start !important;
    border-radius: 0px !important;
  }
  .hero__text-container img {
    min-height: 200px;
  }
  .product_image {
    display: none;
  }
}

.hero__item {
  /*min-width: 50%;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__item:last-child {
  margin-top: -3em;
}

.input#difShipping {
  display: none;
}

label[for="difShipping"] {
  position: relative;
  padding-left: 25px;
  width: 100%;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

label[for="difShipping"]:before {
  content: '✔';
  display: inline-block;
  position: absolute;
  height: 13px;
  width: 13px;
  left: 0;
  font-size: 10px;
  line-height: 1.3;
  color: #FFF;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #333;
  transition: 0.3s;
  border-radius: 2px;
  background-color: #333;
}

input#difShipping:checked + label:before  {
  background-color: #FFF;
}

section {
  width: 800px;
  border: 1px solid #444;
  padding: 20px;
}
section h3 {
  margin-top: 0;
}

.shipping-details {
  margin-top: 60px;
}
.shipping-details label {
  margin-bottom: 20px;
  display: block;
}
.shipping-details input[type="checkbox"] {
  display: none;
}
.shipping-details input[type="checkbox"]:checked ~ label:before {
  background-color: #000;
}
.shipping-details input[type="checkbox"]:checked ~ .shipping-info {
  display: none;
}
.shipping-details input[type="checkbox"] ~ label {
  padding-left: 1.5em;
  margin: 15px 0 25px 0;
  position: relative;
}
.shipping-details input[type="checkbox"] ~ label:before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0px;
  background: #ccc;
  border-radius: 3px;
}

.billing-info .input-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.billing-info .input-row input {
  flex-grow: 1;
  padding: 10px;
  margin-right: 10px;
}
.billing-info .input-row input:last-child {
  margin-right: 0;
}
.billing-info .input-row.card-info .stripe-ccv, .billing-info .input-row.card-info .stripe-expiration {
  max-width: 100px;
}

.product-info ul {
  padding: 0;
  list-style: none;
  width: 100%;
  margin-bottom: 30px;
}
.product-info ul li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 30px 0;
}
.product-info ul li .product-info__details {
  display: flex;
  flex-direction: row;
}
.product-info ul li .product-info__image {
  margin-right: 30px;
  max-width: 320px;
  align-self: center;
}
.product-info ul li .product-info__image img {
  max-width: 100%;
}
.product-info ul li .product-info__text h2 {
  margin-top: 0;
}
.product-info ul li .product-info__pricing {
  min-width: 75px;
  text-align: right;
}
.product-info ul li .product-info__pricing h4 {
  margin-top: 0;
}
